body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f5f5f5;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	border-radius: 5px;
	padding: 20px;
	background-color: #fff;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	outline: none;
	background-color: #8c70af;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	height: 40px;
	margin-top: 20px;
	padding: 0px 20px;
	transition: all 0.2s ease-in-out;
	width: 100%;
	max-width: 250px;
}

button:hover {
	opacity: 0.8;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.col-6 {
	width: 50%;
	max-width: 400px;
	min-width: 340px;
	padding: 0px;
}

.d-none {
	display: none;
}

/* center h1 */
h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}

input {
	border: 1px solid #b6a7b9;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	height: 40px;
	margin-top: 10px;
	padding: 0px 15px;
	transition: all 0.2s linear;
	width: 100%;
	max-width: 250px;
}

input:focus {
	border: 1px solid #8c70af;
	outline: 1px solid #8c70af;
}

textarea {
	border: 1px solid #b6a7b9;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	height: 100px;
	margin-top: 10px;
	padding: 10px 15px;
	transition: all 0.2s linear;
	width: 100%;
	max-width: 250px;
}

textarea:focus {
	border: 1px solid #8c70af;
	outline: 1px solid #8c70af;
}

.admin_send_message input {
	width: 300px;
	margin-right: 10px;
}

.admin_send_message button {
	width: 100px;
	cursor: pointer;
}

.admin_list_messages {
	height: 300px;
	overflow-y: scroll;
}

.admin_message_admin {
	width: 300px;
	background-color: #e0e0e0;
	padding: 10px;
	margin: 12px;
	display: flex;
	flex-direction: column;
	margin-left: 100px;

	border-radius: 10px;
}

.admin_message_client {
	width: 300px;
	background-color: #8c70af;
	color: #fff;
	padding: 10px;
	margin: 12px;
	display: flex;
	flex-direction: column;

	border-radius: 10px;
}

#supports {
	width: 600px;
}

.text_support {
	display: flex;
	flex-direction: column;
}

.admin {
	display: flex;
	flex-direction: column;
}

.admin .message {
	width: 230px;
	background-color: #f2ecfa;
	border-radius: 4px;
	padding: 10px;
	margin-left: 12px;
}

.client .message {
	width: 230px;
	background-color: #8c70af;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.client {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.admin_date {
	font-size: 10px;
}

.in_support {
	background-color: #8c70af;
	color: #fff;
	width: 100%;
	font-size: 17px;
}

.mt-5 {
	margin-top: 50px;
}

.mb-5 {
	margin-bottom: 50px;
}

.px-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.btn_send {
	background-color: #1eb363;
	color: #fff;
	border: none;
}

.btn_send:hover {
	opacity: 0.8;
}