<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Admin</h1>

      <div id="list_users"></div>

      <script id="template" type="x-tmpl-mustache">
        <div id="user{{ id }}">
          <div class="email">Email: {{ email }}</div>
          <button class="btn_atd" onclick="call('{{ id }}')">Entrar em atendimento</button>
        </div>
      </script>

      <div id="supports"></div>

      <script id="admin_template" type="x-tmpl-mustache">
        <div class="admin mt-5 mb-5" id="admin">

          <span class="in_support">Em atendimento: <strong>{{ email }}</strong></span>
          <span></span>
          <div class="admin_list_messages" id="allMessages{{ id }}"></div>

          <div class="admin_send_message">
            <input type="text" name="" id="send_message_{{ id }}">
            <button id="send" class="btn_send" onclick="sendMessage('{{ id }}')" >Enviar</button>
          </div>

        </div>
      </script>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
