<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cliente</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Iniciar chat</h1>
      <div class="col-6 card mb-5">
        <h3>Mensagens</h3>

        <div id="text_support" class="px-1">
          <script id="message-user-template" type="text/template">
            <div class="client">
              <span class="name">{{email}}</span>
              <span class="client message">{{message}}</span>
            </div>
          </script>

          <script id="admin-template" type="text/template">
            <div class="admin">
              <span class="admin_name">Atendente</span>
              <span class="admin message">{{message_admin}}</span>
            </div>
          </script>

          <div id="messages" class="chat_messages"></div>
        </div>

        <hr />

        <div id="form">
          <textarea
            name="txt_help"
            id="txt_help"
            cols="30"
            rows="10"
            maxlength="250"
            placeholder="Digite a mensagem"
            autofocus
          ></textarea>

          <input type="email" id="email" placeholder="Email" />

          <button id="start_chat">Entrar em atendimento</button>
          <button id="new_message" class="d-none">Enviar</button>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
